<br><br>
<div class="container">
<div class="row">

  <!-- villes -->
<div class="col-md-2">
<ul *ngIf="villes" class="list-group">
  <li  [ngClass]="villeActuelle==ville?'active':''" class="list-group-item" *ngFor="let ville of villes._embedded.villes" (click)="getCinemaByVille(ville)">{{ville.name}}</li>
</ul>
</div>

<!-- cinemas -->
<div class="col-md-10">
  <div class="card">
    <div class="card-header">Liste des Cinémas</div>
   
    <div class="card-body">
      <!-- liste cinemas -->
      <ul *ngIf="cinemas" class="nav" style="margin:2px;">
        <li  [ngClass]="currentCinema==cinema?'active':''" class="nav-item"  class="list-group-item" *ngFor="let cinema of cinemas._embedded.cinemas">
          <a  (click)="getSalleByCinema(cinema)" >{{cinema.name}}</a>
        </li>
      </ul>
      <br>
      <!-- salles -->
      <div class="row" *ngIf="salles" >
        <div  *ngFor="let salle of salles._embedded.salles">
         <div  class="col-md-20">
           
          <div class="card"  style="margin:15px;">
                <div class="card-header"> {{salle.name}}</div>
                <!-- projections -->
                <div class="card-body" *ngIf="salle.projections">
                    <div class="row">
                      <div style="margin: 30px;">
                        <img  height="180" width="180" src="{{cinemaService.host+'/images/'+salle.projections._embedded.projections[0].film.id}}" /><br>
                         <br>
                        <h4 class="bg-success text-white">{{salle.projections._embedded.projections[0].film.titre}}</h4>
                      </div>
                      <br>
                      <div class="col-md-8">
                         <ul class="list-group">
                           <li class="list-group-item"> Séances :</li>
                           <li [ngClass]="currentProjection==projection?'active':''" (click)="getPlaceTicketsByProjection(projection)" *ngFor="let projection of salle.projections._embedded.projections" class="list-group-item">                           {{projection.seance.heureDebut}} <b class="bg-danger text-white">({{projection.prix|number:'0.00'}} €)</b>
                          </li>
                          </ul>
                      </div>
                    </div>
                    <!-- places -->
                    <div *ngIf="currentProjection" class="col-md-8" >
                        <div *ngIf="currentProjection.tickets">
                            <div *ngIf="currentProjection.salle.id==salle.id">
                                <div class="row" *ngIf="currentProjection.tickets">
                                    <button  class="{{getTicketClass(ticket)}}" (click)="selectTicket(ticket)"  [disabled]="ticket.reserve==true" class="btn btn-success ticket" *ngFor="let ticket  of  currentProjection.tickets._embedded.tickets">
                                      {{ticket.place.numero}}
                                    </button>
                                  </div>
                            </div>
                        </div>
                        <!-- payer -->
                        <div *ngIf="selectTicket.length>0">
                           <form #f="ngForm" (ngSubmit)="payTickets(f.value)">

                             <div class="form-group">
                               <label class="control-label">Nom Client</label>
                               <input class="form-control" type="text" name="nomClient" ngModel> 
                             </div>
                             <div class="form-group">
                                <label class="control-label">Code Payment</label>
                                <input class="form-control" type="text" name="codePayment" ngModel> 
                              </div>
                            <button type="submit" class="btn btn-success">Payer</button>
                           </form>
                        </div>
                       
                    </div>
                </div>
            </div>
         </div> 
        </div>
      </div>
    </div>
    <div class="card-footer"></div>
  </div>
</div>
</div>

</div>
