<div class="container">
<div class="row">
<div class="col-md-4">

<ul *ngIf="villes" class="list-group">
  <li  [ngClass]="villeActuelle==ville?'active':''" class="list-group-item" *ngFor="let ville of villes._embedded.villes" (click)="getCinemaByVille(ville)">{{ville.name}}</li>
</ul>

</div>
<div class="col-md-8">
  <div class="card">
    <div class="card-header">Liste des Cinémas</div>
    <div class="card-body">
      <ul *ngIf="cinemas" class="nav">
        <li  [ngClass]="currentCinema==cinema?'active':''" class="nav-item"  *ngFor="let cinema of cinemas._embedded.cinemas">
          <a  (click)="getSalleByCinema(cinema)" class="nav-link active" >{{cinema.name}}</a>
        </li>
      </ul>
      <div class="row" *ngIf="salles" >
        <div *ngFor="let salle of salles._embedded.salles">
         <div class="col-md-6">
            <div class="card" >
                <div class="card-header"> {{salle.name}}</div>
                <div class="card-body" *ngIf="salle.projections">
                    <div class="row">
                      <div class="col-md-4">
                        {{salle.projections._embedded.projections[0].film.id}}
                        <img   width="130" src="{{cinemaService.host+'/images/'+salle.projections._embedded.projections[0].film.id}}" />
                      </div>
                      <div class="col-md-6">
                         <ul class="list-group">
                           <li class="list-group-item"> Sénaces :</li>
                           <li [ngClass]="currentProjection==projection?'active':''" (click)="getPlaceTicketsByProjection(projection)" *ngFor="let projection of salle.projections._embedded.projections" class="list-group-item">                           {{projection.seance.heureDebut}} => Prix : {{projection.prix|number:'0.00'}} euros
                          </li>
                          </ul>
                      </div>
                    </div>
                    <div *ngIf="currentProjection">
                        <div *ngIf="currentProjection.tickets">
                            <div *ngIf="currentProjection.salle.id==salle.id">
                                <div class="row" *ngIf="currentProjection.tickets">
                                    <button  class="{{getTicketClass(ticket)}}" (click)="selectTicket(ticket)"  [disabled]="ticket.reserve==true" class="btn btn-success ticket" *ngFor="let ticket  of  currentProjection.tickets._embedded.tickets">
                                      {{ticket.place.numero}}
                                    </button>
                                  </div>
                            </div>
                        </div>
                        <div *ngIf="selectTicket.length>0">
                           <form #f="ngForm" (ngSubmit)="payTickets(f.value)">

                             <div class="form-group">
                               <label class="control-label">Nom Client</label>
                               <input class="form-control" type="text" name="nomClient" ngModel> 
                             </div>

                             <div class="form-group">
                                <label class="control-label">Code Payment</label>
                                <input class="form-control" type="text" name="codePayment" ngModel> 
                              </div>

                            <button type="submit" class="btn btn-success">payer</button>
                           </form>
                        </div>
                       
                    </div>
                </div>
            </div>
         </div>
          
          
        </div>
      </div>
    </div>
    <div class="card-footer">Footer</div>
  </div>
</div>
</div>

</div>